body {
    background-color: #868691;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

main {
    background-color: #6E69EC;
    
}

main .container form {
    border: 2px solid;
}

