*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 95vw;
    height: 95vh;
    margin : 2.5vh auto;
    display: grid;
    grid-row-gap: 40px;
}

.logo{
    display: flex;
}

.you{
    color: #6E69EC;
}

.code{
    color: #868691;
}

.para_noti{
    display: grid;
    grid-column: 5/6;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

img{
    width: 40px;
    height: 40px;
}

.header{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}

.img2{
    grid-column: 4/5;
}

.add{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.carte1{
    border: 1px solid;
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
}

.carte1 p{
    grid-column: 1/5;
    text-align: center;
}
.carte1 button {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 10vw;
   }

.carte1 span{
    grid-column: 1/5;
    margin: auto;
}
a{
    text-align: center;
    grid-column: 1/5;
}

.cartes{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 30px;
}

.footer{
    background-color: #6E69EC;
    color: white;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(8,12.5%);
}

.footer p{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    justify-content: center;
}